.article {
  padding: 40px 0px;

  &__inner {
    padding: 20px;
    border: 5px double #aaa;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &__text {
    h1, h2, h3, h4, h5, h6 {
      line-height: 120%;
    }

    h1 {
      font-size: 35px;
    }

    h2 {
      font-size: 30px;
    }

    p {
      font-size: 16px;
      line-height: 180%;
      color: #333;


    }

    a {
      color: #42b978;
      text-decoration: underline;
    }
  }
}